:root {
    --while-color: #fff;
    --black-color: #000;
    --primary-color: #72b9d0;
    --gray-color-6: #757575;
    --gray-color-7: #212121;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.button {
    cursor: pointer;
    text-decoration: none!important;
    font-size: 1.6rem;
    color: var(--while-color);
    font-weight: 500;
}


.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}