/* header navigation */
.header {
  height: 88px;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header__logo {
  line-height: normal;
}

.header__logo-image {
  width: 124px;
  height: 44px;
}

.header__list {
  list-style: none;
}

.header__list-item {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.4rem;
  position: relative;
}

.header__list-item-link {
  text-decoration: none;
  color: var(--gray-color-6);
}
.header__list-item-link:hover {
  color: var(--primary-color);
  transition: all 0.4s;
}
.nav-create {
  color: var(--primary-color);
  font-weight: 600;
  margin-right: 16px;
}

.header__list-item--separate::after {
  content: '';
  display: block;
  position: absolute;
  border-left: 1px solid;
  height: 28px;
  color: #e7e9e8;
  top: 0;
  right: -5px;
}
/* container */
/* background-introduce */
.container__background-intro {
  height: 460px;
  background-image: url(../image/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.container__background-intro video-intro {
  z-index: 0;
  position: absolute;
  height: 460px;
  min-width: 100%;
}
.explore-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.explore-home__main-title {
  font-size: 4.2rem;
  color: var(--while-color);
  font-weight: bold;
  margin: 0;
}
.explore-home__sub-title {
  margin-top: 25px;
  font-size: 20px;
  color: var(--while-color);
}
.explore-home__button {
  width: 318px;
  height: 50px;
  background-color: #f13a59;
  border-radius: 4px;
  text-align: cemter;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.explore-home__button:hover {
  background-color: #e81035;
  transition: all 0.4s;
}
/* caretory */
.container__caretory-list {
  text-align: center;
  margin: 24px 0;
}

.container__caretory-list-item {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.container__caretory-link {
  text-decoration: none;
  color: var(--gray-color-6);
  background-color: var(--gray-color-1);
  padding: 5px 10px;
  border: 1px solid var(--gray-color-4);
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 450;
}

/* group card */
.container__group-title .main-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 46px;
  margin-bottom: 10px;
}
.container__group-title .sub-title {
  margin: 0;
  margin-bottom: 26px;
}
.container__group-list {
  display: flex;
  justify-content: space-between;
}
.container__group-card {
  width: 260px;
  height: 325px;
  cursor: pointer;
  transition-property: box-shadow, transform;
  transition: 0.25s, 0.25s;

  border-radius: 0 0 8px 8px;
}
.container__group-card:hover {
  box-shadow: 1px 1px 4px 0 rgba(44, 57, 65, 0.12);
  transform: translateY(-1.5px);
}
.container__group-card .header-card {
  background-image: url(https://i.picsum.photos/id/129/4910/3252.jpg);
  height: 146px;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}

.container__group-card .info-card {
  border: 1px solid #f1f3f2;
  border-top: 0;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 179px;
  font-size: 1.3rem;
  color: var(--gray-color-6);
}

.info-card__category {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.8;
}
.info-card__title {
  font-weight: bold;
  font-size: 2rem;
  color: var(--gray-color-7);
}

.container__caretories {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, auto);
}
.container__caretories--item {
  width: 260px;
}
.container__caretories--item a {
  text-decoration: none;
}
.container__caretories--item .caretories__header-card {
  height: 160px;
  background-image: url(https://i.picsum.photos/id/129/4910/3252.jpg);
  background-size: cover;
  border-radius: 8px;
}

.container__caretories--item .caretories__title-card {
  font-size: 1.6rem;
  color: #493b2b;
  margin: 10px 0 22px 0;
}
.container__caretories--item .caretories__title-card h4 {
  margin: 0;
}

/* how-meetup-work component */
.container__how-meetup-work {
  margin-top: 22px;
  text-align: center;
  height: 366px;
  background-color: #0f1721;
  color: var(--while-color);
  display: flex;
  align-items: flex-start;
}
.work-header p {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 66px;
}
.work-body {
  display: flex;
  justify-content: space-between;
}

.word-body--item {
  display: flex;
  text-align: left;
  align-items: center;
}
.word-body--item .item-icon i {
  font-size: 8rem;
  color: var(--primary-color);
  margin-right: 20px;
}
.item-content__title {
  font-size: 3rem;
  font-weight: bold;
}

.item-content__link {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: none;
}
.item-content__link {
  position: relative;
}
.item-content__link i {
  position: absolute;
  top: -2px;
  right: -42px;
}
/* get the app component */
.container__get-the-app {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container__get-the-app .item-content {
  margin-top: 80px;
}
.container__get-the-app .item-content__title {
  margin: 14px 0;
  font-size: 3.2rem;
  font-weight: 500;
  color: black;
}
.container__get-the-app .icon__dowload {
  display: flex;
  width: 340px;
  height: 170px;
}

.container__get-the-app .icon__dowload--ios {
  width: 160px;
  height: 48px;
  margin: 48px 22px 0 0;
}
.container__get-the-app .icon__dowload--android {
  width: 160px;
  height: 48px;
  margin: 48px 22px 0 0;
}

.container__get-the-app .item-img-download {
  width: 226px;
  height: 300px;
}

/* footer body component */
.footer__main {
  height: 530px;
  background-color: #353d47;
}
.footer__main a,
p {
  font-size: 1.6rem;
  color: var(--while-color);
}
.footer__main-create {
  padding: 42px 0;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
.footer__body .footer__body--your-account,
.footer__body .footer__body--discover,
.footer__body .footer__body--meetup,
.footer__body .footer__body--follow-us {
  margin-top: 42px;
}

.footer__body .your-account__list,
.footer__body .discover__list,
.footer__body .meetup__list {
  padding: 0;
  margin: 0;
}
.footer__body .your-account__list-item,
.footer__body .discover__list-item,
.footer__body .meetup__list-item {
  list-style: none;
  margin-top: 15px;
}

.footer__body .your-account__list-item a,
.footer__body .discover__list-item a,
.footer__body .meetup__list-item a {
  text-decoration: none;
  color: #b4b1b3;
}

.footer__body--follow-us .footer__body--socials img {
  width: 24px;
  margin: 10px 10px 20px 0;
}

.footer__body--download .icon__dowload {
  width: 340px;
  height: 170px;
  display: flex;
}

.footer__body--download .icon__dowload--ios,
.footer__body--download .icon__dowload--android {
  width: 160px;
  height: 48px;
  margin: 48px 22px 0 0;
}

.footer__body--options select {
  padding: 20px 40px 20px 20px;
  font-size: 1.6rem;
  width: 100%;
  background-color: #0f1721;
  color: var(--while-color);
  outline: none;
}
/* footer legal component */
.footer__legal {
  background-color: #30363f;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__legal p {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  color: var(--while-color);
  margin: 20px;
}
