/* header navigation */
.header {
    height: 88px;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__logo{
    line-height: normal;
}

.header__logo-image{
    width: 100px;
    height: 44px;
}

.header__list {
    list-style: none;
}

.header__list-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.4rem;
    position: relative;
}

.header__list-item-link {
    
    text-decoration: none;
    color: var(--gray-color-6);
}

.nav-create{
    color: var(--primary-color);
    font-weight: 600;
    margin-right: 16px;
}

.header__list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid;
    height: 28px;
    color: #e7e9e8;
    top: 0;
    right: -5px;
}
/* container */
/* background-introduce */
.container__background-intro {
    height: 460px;
    background-image: url(../image/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
.container__background-intro video-intro {
    z-index: 0;
    position: absolute;
    height: 460px;
    min-width: 100%;
    
}
.explore-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.explore-home__main-title {
    font-size: 4.2rem;
    color: var(--while-color);
    font-weight: 900;
    margin: 0;
}
.explore-home__sub-title {
    margin-top: 25px;
    font-size: 20px;
    color: var(--while-color);
}
.explore-home__button {
    width: 318px;
    height: 50px;
    background-color: #f13a59;
    border-radius: 4px;
    text-align: cemter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}